html {
    background-color: #000000;
}


body {
    width: 485px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #ffffff;
}


h1  {
    background-color: #ffffff;
    margin-top: 0;
    color: #007d7b;
    font-size: 3em;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}



nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    list-style: none;
    margin: 30px;
    
}

nav a {
    text-decoration: none;
    font-size: 1.5em;
}

a {
    color: #ffffff;
}

[href="#top"] {
    bottom:5px;
    right: 0px;
    line-height: 20px;
    position:fixed;
    padding: 10px;
    border-style:solid;
    border-width: 2px;
    border-color: white;
    background-color: black;
}

a:hover {
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}

#about {
    margin-left: 20px;
}

#about h2 {
    padding-top: 10px;
}

img {
    width: 100%;
}

#gallery p {
    margin-left: 20px;
}

p {
    font-size: 1.25em;
}

img {
    align-content: center;
}

figcaption {
    text-transform: uppercase;
    text-align: center;
}

#images {
    display: grid;
    grid-template-columns: 1fr;
}



.italy {
    color: #000000;
    bottom: 30px;
    position: relative;
}

.guatemala, .wyoming {
    color: #ffffff;
    bottom: 270px;
    position: relative;
}

.iran, .ireland {
    color: #000000;
    bottom: 620px;
    position: relative;
}

.rocky, .switzerland, .uk, .usa {
    color: #000000;
    bottom: 270px;
    position: relative;
}

.chile, .hawaii, .moab {
    color: #ffffff;
    bottom: 30px;
    position: relative;
}


#contact {
    color: #ffffff;
}

#contact p {
    margin: 0;
    font-size: 1em;
    text-align: center;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr;
    visibility: hidden;
}

fieldset legend {
    visibility: hidden;
}

label, input {
    visibility: visible;
    margin-top: 5px;
}

figcaption, label, input {
    font-size: 1em;
}

input {
    color: #007d7b;
    font-weight: bold;
    text-transform: uppercase;
}

label {
    padding-top: 10px;
}

input[type="submit"] {
    width: 75%;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #007d7b;
    color: #ffffff;
    border-radius: 18px;
    
}

footer {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}





@media screen and (min-width: 880px) {
    body {
        width: 880px;
    }
    
    nav {
        margin-left: 200px;
        margin-right: 230px;
    }

    nav ul {
        text-align: center;
    }

    #images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    figure {
        margin: 10px;
        margin-bottom: 0px;
        padding-top: 0px;

    }

    form {
        width: 600px;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1300px) {
    body {
        width: 1300px;
    }
  
    nav {
        text-align: right;
        padding-left: 680px;
        width: 35%;
    }

    #images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    figure {
        margin: 10px;
        margin-bottom: 0px;
        padding-top: 0px;

    }
    .iran, .ireland {
        margin-top: 10px;
    }

}
